---
---

<script>
  // API KEY
  const API_KEY = import.meta.env.PUBLIC_API_KEY;
  
  // API endpoint URL
  const queryEndpoint = 'https://api.openweathermap.org/data/2.5/weather';
  
  // Units for Farenheit
  const queryUnits = 'imperial';
  
  // Function to fetch weather data
  const fetchWeather = (city) => {
    const url = `${queryEndpoint}?q=${city}&appid=${API_KEY}&units=${queryUnits}`;
  
    // Get DOM Elements
    const cityElement = document.querySelector('.city');
    const tempElement = document.querySelector('.temp');
    const iconElement = document.querySelector('.icon');
  
    // Using fetch to get data
    fetch(url)
      .then(response => response.json())
      .then(data => {
        // Check-check: Is data good? 
        console.log(data);
  
        // Set DOM Elements
        cityElement.textContent = data.name;
        tempElement.textContent = data.main.temp;
        iconElement.setAttribute('src', `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`);
      });
  };
  
  // Event listener for city input
  document.addEventListener('DOMContentLoaded', () => {
    const cityInput = document.getElementById('cityNameInput');
    cityInput.addEventListener('input', (event) => {
      const city = (event.target as HTMLInputElement).value;
      if (city) {
        fetchWeather(city);
      }
    });
  });
  </script>


<!-- Weather -->

<section class="backdrop-blur-md bg-white/50">

      <h1>Weather</h1>
      <h2></h2>
      <data class="city">City</data>
      <data class="temp">Temp</data>
      <img class="icon" 
      src="https://via.placeholder.com/150" alt="Placeholder">
      
</section>
