---
---

<script>
// API KEY
const API_KEY = import.meta.env.PUBLIC_API_KEY;

// API endpoint URL
const queryEndpoint = 'https://api.openweathermap.org/data/2.5/weather';
// City
import CityNameInput from "./CityNameInput.astro";
const queryCity = CityNameInput;

// Units for Farenheit
const queryUnits = 'imperial';

// URL query string
const url = `${queryEndpoint}?q=${queryCity}&appid=${API_KEY}&units=${queryUnits}`;

// Get DOM Elements
const city = document.querySelector('.city');
const temp = document.querySelector('.temp');
const icon = document.querySelector('.icon');

// Using fetch to get data
fetch(url)
.then( response => response.json() )
.then( data => {

  // Check-check: Is data good? 
  console.log( data );
  
  // Get Container for Weather   
  const weatherContainer = document.querySelector('.weather');
    
    // Set DOM Elements
    city.textContent = data.name; 
    temp.textContent = data.main.temp;

    icon.setAttribute('src', `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`)
    
});
</script>


<!-- Weather -->

<section class="backdrop-blur-md bg-white/50">

      <h1>Weather</h1>
      <h2></h2>
      <data class="city">City</data>
      <data class="temp">Temp</data>
      <img class="icon" 
      src="https://via.placeholder.com/150" alt="Placeholder">
      
</section>
